@import url('https://fonts.googleapis.com/css2?family=Owtfit:wght@200..700&display=swap');
@import "tailwindcss";

* {
    font-family: "Oswald", sans-serif;
}

@theme {
    --color-primary: #00E599;
     /* Tailwind blue-500 */

}

@keyframes fadeUp { to { opacity: 1; transform: translateY(0); } }

@media (prefers-reduced-motion: reduce) {
    * { animation: none !important; transition: none !important; }
}